@font-face {
    font-family: "MenuFont";
    src: url(../font/super-mario-bros.ttf);
}

.grid-container{
  display: grid;
  grid-template-areas:
  'left middle right';
  grid-template-columns: 1fr minmax(350px,900px) 1fr
}

.grid-container > div{
  text-align: center;
}

.gridLeft {
  grid-area: left;

}
.gridMiddle {
  grid-area: middle;
}
.gridRight {
  grid-area: right;

}


body {
  background: repeat url(..\Images\guesscor_logo.svg);
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

#Menu {
  text-align: center;
}

#MenuF {
  font-family: "MenuFont";
  font-size: 30;
  font-weight: bold;
}

#HS{
  color: red;
  font-weight: bold;
}
