@font-face {
    font-family: "MenuFont";
    src: url(../font/super-mario-bros.ttf);
}

.grid-container{
  display: grid;
  grid-template-areas:
  'left middle right';
  grid-template-columns: 1fr minmax(350px,900px) 1fr
}

.grid-container > div{
  text-align: center;
}

.gridLeft {
  grid-area: left;

}
.gridMiddle {
  grid-area: middle;
}
.gridRight {
  grid-area: right;

}

.menuItem {
  display: inline-block;
}

#arrow1 {
    width: 22px;
    height: 24px;
    background-size: 22px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/arrow.svg);
    margin-right: 3px;
    float: left;
}

#arrow{
  float: left;
}



#arrow1 {
  display: none;
}

#hoverTest:hover + #arrow1 {
  display: block;
}

#test2{
    flex-direction: row-reverse;
}



body {
  background-image: url(../images/bg.svg);
  background-size: cover;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

aside
{
    position: absolute;
    top: 0px;
    right: 0px;
}


#Menu {
  text-align: center;
}

#MenuF {
  font-family: "MenuFont";
  font-size: 30;
  font-weight: bold;

}

#HS{
  color: red;
  font-weight: bold;
}
