@font-face {
  font-family: "Basefont";
  src: url(../font/retro.ttf);
}

@font-face {
    font-family: "MenuFont";
    src: url(../font/super-mario-bros.ttf);
}

.grid-container{
  display: grid;
  grid-template-areas:
  'left middle1 middle2 right';
  grid-template-columns: 1.5fr minmax(220px,450px) minmax(220px,450px) 1fr
}

.grid-container > div{
  text-align: justify;
}

.gridLeft {
  grid-area: left;

}
.gridMiddle1 {
  grid-area: middle1;
  text-align: left;
}

.gridMiddle2 {
  grid-area: middle2;
  text-align: left;
}

.gridRight {
  grid-area: right;

}

body{
  background-image: url(../images/bg.svg);
  background-size: cover;
  font-family: "Basefont";
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: "MenuFont";
}

.image_responsive
{
  max-width: 100%;
  height: auto;
}


#titre {
  font-weight: bold;
}

aside
{
    position: absolute;
    top: 0px;
    right: 0px;
}

a{
  color: inherit;
  text-decoration: none;

}
