@font-face {
    font-family: "MenuFont";
    src: url(font/super-mario-bros.ttf);
}

body {
  background: repeat url(Images\guesscor_logo.svg);

}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
}

#Menu {
  text-align: center;
}

#MenuF {
  font-family: "MenuFont";
  font-size: 30;
  font-weight: bold;
}

#HS{
  color: red;
  font-weight: bold;
}
